<h1 class="slider__content__title">Planet Name: {{title}}</h1>
<p class="slider__content__preview">Population: {{description}}</p>
<p class="slider__content__preview">Climate: {{description}}</p>
<!-- <img class="slider__content__image" src="{{imgUrl}}" alt="{{description}}" /> -->
