<div class="slider__content">

  <img class="slider__content__image" src="https://images.pexels.com/photos/617278/pexels-photo-617278.jpeg?auto=compress&cs=tinysrgb&h=350" alt="funny_cat" />
  {{#if population}}
  <h1 class="slider__content__title">Planet Name: {{name}}</h1>
  <p class="slider__content__preview">Population: {{population}}</p>
  <p class="slider__content__preview">Climate: {{climate}}</p>
  {{/if}}
  {{#if gender}}
  <h1 class="slider__content__title">Character Name: {{name}}</h1>
  <p class="slider__content__preview">Gender: {{gender}}</p>
  <p class="slider__content__preview">Height: {{height}}</p>
  {{/if}}
  
</div>
